<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, there!</title>

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header class="navbar-container">
    <div class="logo">

    </div>
    <nav class="nav-list">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="https://gitlab.com/bhismagregorius">Gitlab</a></li>
            <li><a href="https://github.com/gbhisma">Github</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="content">
        <div class="content-description">
            <h1 class="title">Hello there!</h1>
            <article>I am a CS Student from the Faculty of Computer Science, University of Indonesia. Currently in the 6th Semester, I am interested toward software engineering mainly backend and computer infrastructure.</article>
            <article> I love everything Star Wars</article>
            <article> Checkout this project's repository below! </article>
            <button onclick="location.href='https://github.com/gbhisma/profile-app-dicoding'" type="button">This page's GitHub</button>
        </div>
        <img class="img-wrapper" src="https://storage.googleapis.com/bucket-codinged-profile-182367123/pic_1.jpg">
    </div>
    <aside>
        <div class="social-media">
            <ul>
                <li>Gregorius Bhisma</li>
                <li>Tangerang Selatan, Banten</li>
                <li>Faculty of Computer Science, UI</li>
                <li>
                    <a href="https://www.instagram.com/gregoriusbhisma/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/gregorius-bhisma/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://steamcommunity.com/id/heraklivs/"><i class="fab fa-steam"></i></a>
                    <a href="https://open.spotify.com/user/gbhisma"><i class="fab fa-spotify"></i></a>
                </li>
            </ul>
        </div>
    </aside>
</main>

<footer class="footer-container">
    <p>Made for Proyek Deploy Aplikasi Profile - Menjadi Google Cloud Engineer - a Dicoding course</p>
</footer>

</body>
</html>